@font-face {
    font-family: 'Grotesk FSM';
    src: url('GroteskM.otf');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: white;
    font-family: "Grotesk FSM", "Times New Roman", sans-serif;
}
.mayden_lettering {
    font-size: 100px;
    color: #b1b1b1;
    position: relative;
    left: 50px;
    float: left;
    padding-top: 128px

}

.logo_a {
    display: inline-block;
    font-size: 270px;
    color: #ffffff;
    position: relative;
    bottom: 232px;
    left: 5px;
}

.logo_circle {
    box-sizing: unset;
    height: 178px;
    width: 178px;
    border-radius: 100%;
    border: white solid 50px;
    position: relative;
    bottom: 554px;
    right: 49px;
}

.container {
    width: 180px;
    height: 180px;
}
.position {
    padding: 100px;
    float: left;
}

.top_row {
    height: 25%;
    width: 100%;
    background-color: #94ba66;

}

.middle_row{
    height: 52%;
    width: 100%;
    background-color: #f27324;
}

.bottom_row {
    height: 23%;
    width: 100%;
    background-color: #295074;

}
.top_row .logo_teal {
    width: 50%;
    height: 100%;
    float: right;
}

.middle_row .logo_teal {
    width: 30%;
    height: 100%;
    float: right;
}

.middle_row .logo_green {
    width: 30%;
    height: 100%;
    float: left;
}


.logo_teal {
    background-color: #288fb0;
}
.logo_orange {
    background-color: #f27324;
}
.logo_blue {
    background-color: #295074;
}
.logo_green {
    background-color: #94ba66;
}