* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 180px;
    height: 180px;
}
.position {

}

.top_row {
    height: 25%;
    width: 100%;
    background-color: #94ba66;

}

.middle_row{
    height: 45%;
    width: 100%;
    background-color: #f27324;
}

.bottom_row {
    height: 30%;
    width: 100%;
    background-color: #295074;

}
.top_row .logo_teal {
    width: 50%;
    height: 100%;
    float: right;
}

.middle_row .logo_teal {
    width: 30%;
    height: 100%;
    float: right;
}

.middle_row .logo_green {
    width: 30%;
    height: 100%;
    float: left;
}


.logo_teal {
    background-color: #288fb0;
}
.logo_orange {
    background-color: #f27324;
}
.logo_blue {
    background-color: #295074;
}
.logo_green {
    background-color: #94ba66;
}